
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style ="text-align:center">AccessDenied</h1>



<h1 style="text-align:center">BURAYA ERİŞİM YETKİNİZ YOKTUR!</h1>
