
@{
    ViewData["Title"] = "AddNewProject";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>MERHABA BURASI PROJE EKLEME SAYFASI</h1>
<div class="container" style="width:30%">
    <form action="/Admin/MyProject/AddNewProjectToDB" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Project Name</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="Name" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Image URL</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="Image" >
    </div>

    <div style="display:flex;justify-content:flex-end;width:100%;">
        <button class="btn btn-success" type="submit">PROJE EKLE</button>
    </div>

    </form>

</div>