@using SolidTech.Data.Entities
@model ProjectCategory
@{
    ViewData["Title"] = "AddNewProject";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h1 style="text-align:center">MERHABA BURASI PROJE EKLEME SAYFASI</h1>
<div class="container" style="width:30%">
    <form action="/Admin/MyProject/AddNewProjectToDB" method="post" enctype="multipart/form-data">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-lg-center fa-swap-opacity" role="alert">
                @ViewBag.Error
            </div>
        }

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Project Name</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="Name" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Image URL</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="Image" >
            <label>Fotoğraf seçin</label>
         <input type="file" name="File" />
    </div>

   
    <label for="dropdown" name="Selected">Proje Kategorisi Seçiniz</label>
        <select id="dropdown" name="ProjectCategoryId" class="form-control">

            @foreach(var item in ViewBag.SelectedCategory)
            {
                <option value=@item.ProjectCategoryId>@item.CategoryName</option>
            }
        </select>

        <div style="display:flex;justify-content:flex-end;width:100%;">
            <button class="btn btn-success" accept="application/octet-stream" multiple type="submit">PROJE EKLE</button>
        </div>

     

    </form>

   

</div>